body{
    background-color: beige;
}

#formulario-pergunta{
    margin-top: 5vh;
    margin-left: 12vh;
    margin-right: 12vh;
}

#pergunta{
    margin-top: 5vh;
    margin-left: 12vh;
    margin-right: 12vh;
}